{% extends "food/base.html" %}
{% block title %}Add/Edit Food Item{% endblock %}
{% block content %}

<h2>Add or Edit Food</h2>

<form method="post">
    {% csrf_token %}
    <div class='mb-3'>
        {{ form.item_name.label_tag }}
        {{ form.item_name|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        {{ form.item_desc.label_tag }}
        {{ form.item_desc|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        {{ form.item_price.label_tag }}
        {{ form.item_price|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        {{ form.item_image.label_tag }}
        {{ form.item_image|add_class:"form-select" }}
    </div>
</form>
{% endblock %}