{% extends "food/base.html" %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}
    <h2>User Profile</h2>
    <p>Username: {{ user.username }}</p>
    <img src="{{ user.profile.image.url }}" alt="Profile Image" style="width: 150px; height: 150px; border-radius: 75px;">
    <p>Email: {{ user.email }}</p> 
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Address: {{user.location}}</p>
    <a href="{% url 'item_list' %}" class="btn btn-secondary">Back to Home</a>
{% endblock %}